.main {
    max-width: 500px;
    margin: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    grid-gap: 30px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(184, 166, 166, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.grid-item-del {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(184, 166, 166, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column: 1 / span 3;
}
.grid-toprow {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(184, 166, 166, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: inline;
    grid-column: 1 / span 3;
}
.grid-item-toprow {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}